<app-menu></app-menu>
<div class="component" *ngIf="request">
  <section class="heading">
    <span class="page-title front weight-bold font-italic">{{ title }}</span>
    <span
      ><a routerLink="/request/lines/{{ requestId }}">Return to List</a></span
    >
  </section>
</div>
<div>
  <main class="single">
    <table class="table table-sm">
      <tr>
        <label>Product:</label>
        <td>
          <select
            [(ngModel)]="lineItem.product"
            class="rounded"
            type="text"
            [compareWith]="compProduct"
          >
            <option *ngFor="let product of products" [ngValue]="product"
              >${{ product.price }} - {{ product.name }} |
              {{ product.vendor.name }}</option
            ></select
          >
        </td>
      </tr>
      <tr>
        <label>Quantity:</label>
        <td>
          <input
            [(ngModel)]="lineItem.quantity"
            class="rounded"
            min="1"
            type="number"
            required
          />
        </td>
      </tr>
    </table>
  </main>
  <span>
    <span *ngIf="lineItem.product && lineItem.quantity != 0">
      <button (click)="add()" class="btn btn-sm btn-primary">Add Item</button>
    </span>
  </span>
</div>